/* -HEADER- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  h1 {
    font-weight: 700;
  }
  nav {
    ul {
      display: flex;
      gap: 5rem;
      a {
        color: #000;
      }
    }
  }
}